/* RESET */
* {
  box-sizing: border-box;
}
body,
h1,
h2,
ul,
li,
a,
p {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Gasalt", "Work Sans", "Open Sans", "Helvetica Neue", sans-serif;
}
ul,
li {
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
}

/* ESTILOS GERAIS */

/* HEADER */
.header-bg {
  padding: 0 60px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.header-bg img {
  margin: 0 auto;
  max-width: 80%;
}

.header-menu ul {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.header-menu li {
  font-size: 1.5em;
  font-weight: bold;
}

.header-menu li + li {
  margin-left: 30px;
}

.header-menu a {
  padding: 10px;
  color: #64647a;
}

.header-menu a:hover {
  background: #afe1fa;
  border-radius: 5px;
  box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.25);
  transition: 300ms ease-in-out;
}

@media (max-width: 768px) {
  .header-bg {
    justify-content: center;
    padding: 10px 0;
  }
}

@media (min-width: 1px) and (max-width: 569px) {
  .header-menu ul {
    font-size: 0.875em;
    align-items: center;
    flex-direction: column;
  }
  .header-menu li {
    margin: 10px 0;
  }
  .header-menu li + li {
    margin-left: 0;
  }
}

/* INTRODUÇÃO & INTRODUÇÃO CONTATO*/
.intro {
  padding: 160px 0;
  background: linear-gradient(rgba(82, 163, 204, 1), rgba(136, 204, 238, 0.3)),
    url("../img/bg-intro.png") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro h1,
.contact-intro h1 {
  font-size: 4em;
  font-weight: bold;
  color: white;
  text-align: center;
}

.intro h1::after,
.contact-intro h1::after {
  content: "";
  display: block;
  width: 120px;
  height: 1px;
  margin: 30px auto;
  background: white;
}

.intro p,
.contact-intro p {
  font-size: 2.25em;
  line-height: 1.4;
  text-align: center;
  color: white;
}

@media (min-width: 1px) and (max-width: 768px) {
  .intro {
    padding: 120px 0;
  }
}

@media (min-width: 1px) and (max-width: 569px) {
  .intro h1,
  .contact-intro h1 {
    font-size: 3em;
  }
  .intro p,
  .contact-intro p {
    font-size: 1.5em;
  }
}

/* SERVIÇOS */
.service {
  padding: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.service h1 {
  font-size: 3em;
  font-weight: bold;
  color: #64647a;
}

.service h1::after {
  content: "";
  display: block;
  width: 90px;
  height: 3px;
  margin-top: 5px;
  background: #64647a;
}

.service-list {
  align-self: center;
  display: flex;
  /* align-items: center; */
  /* flex-wrap: wrap; */
  /* flex-direction: row; */
  justify-content: space-between;
  margin: 60px auto;
}

.service-list article + article {
  margin-left: 50px;
}

.service-item {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: column;
}
.service-item img {
  width: 150px;
  margin: 0 auto;
}

.service-item h2 {
  font-size: 2.25em;
  font-weight: bold;
  color: #323232;
  /* text-align: center; */
  margin: 30px auto;
}

.service-item p {
  font-size: 1.5em;
  line-height: 1.5;
  font-weight: bold;
  color: #64647a;
}

.service-cta {
  margin: 0 auto;
}

.service-cta p {
  font-size: 1.5em;
  line-height: 1.5;
  font-weight: bold;
  color: #64647a;
  margin: 10px 0;
}

.service-cta a {
  max-width: 250px;
  display: block;
  padding: 10px 20px;
  margin: 0 auto;
  font-size: 1.5em;
  font-weight: bold;
  color: #fff;
  background: #23d97e;
  border-radius: 5px;
  text-align: center;
}

.service-cta a:hover {
  background: #12b463;
  box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.25);
  transition: 300ms ease-in-out;
}

@media (min-width: 1px) and (max-width: 569px) {
  .service {
    padding: 60px 20px;
  }
  .service h1 {
    font-size: 2em;
  }
  .service h1::after {
    width: 45px;
  }
  .service-list {
    flex-wrap: wrap;
    margin: 30px 0;
  }
  .service-list article + article {
    margin: 20px auto;
  }
  .service-item h2 {
    margin: 15px auto;
  }
}

/* SOBRE */
.about {
  padding: 60px;
  background: linear-gradient(rgba(82, 163, 204, 1), rgba(136, 204, 238, 0.3)),
    url("../img/bg-sobre.png") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about > img {
  max-width: 40%;
  border-radius: 50%;
}

.about-info {
  align-self: center;
  flex: 1;
  margin-left: 60px;
}

.about-info h1 {
  font-size: 3em;
  font-weight: bold;
  color: #fff;
}

.about-info h1::after {
  content: "";
  display: block;
  width: 90px;
  height: 3px;
  background: #fff;
}

.about-info p {
  font-size: 1.5em;
  color: #fff;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .about {
    align-items: center;
    flex-direction: column;
  }
  .about-info {
    margin-left: 0;
  }
  .about-info h1 {
    margin-top: 10px;
    text-align: center;
  }
  .about-info h1::after {
    margin: 0 auto;
  }
}

/* CALL TO ACTION
.cta {
  padding: 60px;
  background: linear-gradient(
    92.5deg,
    rgba(82, 163, 204, 0.8) 0.24%,
    rgba(175, 225, 250, 0.8) 100%
  );
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.cta h2 {
  font-size: 2.25em;
  line-height: 1.4;
  font-weight: bold;
  color: #323232;
  margin-bottom: 30px;
  text-align: center;
}

.cta a {
  display: block;
  padding: 10px 20px;
  margin: 0 auto;
  font-size: 1.5em;
  font-weight: bold;
  color: #fff;
  background: #23d97e;
  border-radius: 5px;
  text-align: center;
}

.cta a:hover {
  background: #12b463;
  box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.25);
  transition: 300ms ease-in-out;
} */

/* CONTATO - MAIN */
.contact-main {
  padding: 60px;
  background: url("../img/bg-form.png") no-repeat center,
    linear-gradient(
      92.5deg,
      rgba(82, 163, 204, 0.8) 0.25%,
      rgba(175, 225, 250, 0.8) 100%
    );
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.contact-main h1 {
  font-size: 3em;
  font-weight: bold;
  color: #fff;
}

.contact-main h1::after {
  content: "";
  display: block;
  width: 90px;
  height: 3px;
  background: #fff;
}

.contact-main > p {
  margin-top: 30px;
}

.contact-main p + p {
  margin-top: 20px;
}

.contact-main p {
  font-size: 1.5em;
  line-height: 1.5;
  letter-spacing: 0.1em;
  font-weight: bold;
  color: #fff;
}

.contact-data {
  align-self: flex-start;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.contact-data a {
  display: flex;
  align-self: flex-start;
  padding: 10px;
  margin: 20px 10px 0 0;
  font-size: 1.5em;
  font-weight: bold;
  color: #fff;
  background: #23d97e;
  border-radius: 5px;
  text-align: center;
}

.contact-data a:hover {
  background: #12b463;
  box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.25);
  transition: 300ms ease-in-out;
}

.contact-data a img {
  max-width: 20px;
  display: inline;
  margin-right: 10px;
}

@media (max-width: 569px) {
  .contact-main h1 {
    font-size: 2em;
  }
  .contact-main h1::after {
    width: 45px;
  }
  .contact-data {
    max-width: 100%;
  }
  .contact-data {
    flex-direction: column;
    margin-top: 10px;
  }
}

/* FOOTER */
.footer {
  background: #52a3cc;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.footer h2 {
  font-size: 2em;
  line-height: 1.4;
  color: #fff;
  text-align: center;
  margin: 30px 0;
}

.footer-social {
  align-self: center;
  display: flex;
  margin-bottom: 30px;
}

.footer-social a {
  display: block;
}

.footer-social a + a {
  margin-left: 30px;
}

.footer-social img {
  width: 50px;
}

.copy {
  padding: 30px 0;
}

.copy p {
  font-size: 1.5em;
  font-weight: bold;
  color: #64647a;
  text-align: center;
}

@media (max-width: 569px) {
  .copy p {
    font-size: 1.25em;
  }
}

/* ESTILOS PARA EFEITOS EM JS */
.js .js-scroll {
  opacity: 0;
  transform: translate3d(-30px, 0, 0);
  transition: 0.3s;
}

.js .js-scroll.ativo {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
