/* HEADER*/
.header {
  padding: 0 3.75rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header-menu ul {
  display: flex;
}

.header-menu li {
  font-size: 1.75rem;
  font-weight: bold;
}

.header-menu li + li {
  margin-left: 10px;
}

.header-menu a {
  padding: 10px;
  color: #64647a;
}

.header-menu li a:hover {
  background-color: #afe1fa;
  border-radius: 5px;
  box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.1);
  transition: 500ms ease-in;
}

/* INTRODUÇÃO*/
.intro {
  padding: 10rem 0;
  background: linear-gradient(rgba(82, 163, 204, 1), rgba(136, 204, 238, 0.3)),
    url("../img/bg-intro.png") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.intro h1 {
  font-size: 4rem;
  font-weight: bold;
  color: #fff;
}

.intro h1::after {
  content: "";
  display: block;
  margin: 10px auto;
  width: 82px;
  height: 1px;
  background: #fff;
}

.intro p {
  max-width: 25vw;
  font-size: 2.25rem;
  font-weight: bold;
  color: #fff;
  text-align: center;
}

/* SERVIÇOS */
.service {
  padding: 3.75rem;
}

.service h1 {
  font-size: 3rem;
  font-weight: bold;
  color: #64647a;
}

.service h1::after {
  content: "";
  display: block;
  margin-top: 2px;
  width: 92px;
  height: 2px;
  background: #64647a;
}

.service-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  margin-top: 1.25rem;
}

.service-item {
  margin: 20px 0;
  text-align: center;
}

.service-item img {
  width: 10rem;
  margin: 0 auto;
}

.service-item h2 {
  font-size: 2.25rem;
  font-weight: bold;
  color: #323232;
  margin: 10px 0;
}

.service-item p,
.service-cta p {
  font-size: 1.5rem;
  font-weight: bold;
  color: #64647a;
  max-width: 300px;
  margin: 0 auto;
}

.service-cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px 0;
}

.service-cta a {
  margin-top: 10px;
  padding: 10px 20px;
  background: #23d97e;
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.service-cta a:hover,
.contact-data a:hover {
  background: #12b463;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  transition: 300ms ease-in;
}

.about {
  background: linear-gradient(rgba(82, 163, 204, 1), rgba(136, 204, 238, 0.3)),
    url("../img/bg-sobre.png") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  padding: 3.75rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  align-items: center;
}

.about img {
  max-width: 40vw;
  border-radius: 50%;
  margin: 0 auto;
}

.about-info h1 {
  font-size: 3rem;
  font-weight: bold;
  color: #fff;
}

.about-info h1::after {
  content: "";
  display: block;
  width: 92px;
  height: 2px;
  background: #fff;
}

.about-info p {
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 0.1em;
  color: #fff;
  margin-top: 10px;
}

/* CONTATO */
.contact-main {
  padding: 3.75rem;
  background: url("../img/bg-form.png") no-repeat center,
    linear-gradient(
      92.5deg,
      rgba(82, 163, 204, 0.8) 0.2%,
      rgba(175, 225, 250, 1) 100%
    );
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
}

.contact-main h1 {
  font-size: 3rem;
  font-weight: bold;
  color: #fff;
}

.contact-main h1::after {
  content: "";
  display: block;
  width: 92px;
  height: 2px;
  background: #fff;
}

.contact-main p {
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: 0.1em;
  color: #fff;
  margin: 10px 0;
}

.contact-data {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.contact-data a {
  display: flex;
  padding: 0.3rem 0.75rem;
  background: #23d97e;
  margin-top: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  text-align: center;
  border-radius: 5px;
}

.contact-data a img {
  margin: 0 10px;
}

/* FOOTER */
.footer {
  padding: 1.875rem 0;
  background-color: #52a3cc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.footer h2 {
  font-size: 2.25rem;
  font-weight: bold;
  color: #fff;
}

.footer-social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}

.footer-social a {
  margin: 0 0.625rem;
}

.footer-social a img {
  width: 3rem;
}

/* COPY */
.copy {
  padding: 1.875rem 0;
  text-align: center;
}

.copy p {
  font-size: 1.6rem;
  font-weight: bold;
  color: #64647a;
}
